.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;
}

.calculator-title {
  margin: 10px 10px;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 1px;
  border-radius: 5px;
}

.calculation-container-display {
  width: auto;
  text-align: right;
  height: 20px;
  padding: 10px;
  border: solid 1px;
  border-radius: 5px;
  margin: 10px 10px;
}

.placeholder {
  width: 100px;
  margin: 10px 10px;
}